<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home to Airbnb</title>
  <link rel="stylesheet" href="output.css">
</head>
<body>
  <header>
    <h1 class="text-green-700 bg-slate-600">Register Your Home here</h1>
  </header>
  <main>
    <form action="/host/add-home" method="POST">
      <input type="text" placeholder="Enter house name" name="houseName">
      <input type="submit" value="Submit">
    </form>
  </main>
</body>
</html>